/.DS_Store
/PPT_LLM (1).aux
/PPT_LLM (1).out
/PPT_LLM (1).pdf
/PPT_LLM (1).synctex.gz
/PPT_LLM (1).toc
/PPT_LLM (2).aux
/PPT_LLM (2).pdf
/PPT_LLM (2).synctex.gz
/PPT_LLM (3).aux
/PPT_LLM (3).synctex.gz
/PPT_LLM (4).aux
/PPT_LLM (4).synctex.gz
/PPT_LLM.aux
/PPT_LLM.log
/PPT_LLM.nav
/PPT_LLM.out
/PPT_LLM.snm
/PPT_LLM.synctex.gz
/PPT_LLM.toc